# Because OSX
.DS_Store

# Ignore Sublime project files.
*.sublime*

# Ignore PHPStorm project files.
/.idea

# Likely contains configuration intended for production
/remote-config.php

/content/db.php
/content/plugins/*
/content/themes/wsuwp-spine-parent
!/content/plugins/index.php
!/content/plugins/akismet
!/content/plugins/wsu-*
