# Because OSX
.DS_Store

# Ignore Sublime project files.
*.sublime*

# Ignore PHPStorm project files.
/.idea

# Likely contains configuration intended for production
/remote-config.php

# The Query Monitor plugin adds a db.php drop in that we should ignore.
/wp-content/db.php

# Ignore all plugins in the wp-content directory. Ours are included in content/ first.
/wp-content/plugins
/wp-content/mu-plugins
/wp-content/uploads

# Ignore the WSUWP Spine Parent theme
wp-content/themes/wsuwp-spine-parent
