#coauthors-list {
	width: 100%;
	padding: 0 5px;
}

#coauthors-list td {
	padding-left:0;
	padding-right:0;
	vertical-align: middle;
}

#coauthors-list .coauthor-row {
	overflow: hidden;
}

#coauthors-edit p {
	color: #5e6a71;
	font-style: italic;
	font-size: 0.9em
}

.coauthor-tag {
	width: 200px;
	display: block;
	padding: 10px 0px 5px 3px;
	line-height: 13px;
	font-size: 13px;
	border-bottom: 1px solid #efe9da;
	cursor: text;
	float: left;
}

#side-sortables .coauthor-tag {
	width: 190px;
	padding-left: 0;
}

#coauthors-list .coauthor-tag:hover {
	cursor: text;
	background: #eeefef;
}

#coauthors-list .ui-state-highlight {
	border:1px dashed #21759B;
	height:28px;
	margin-top:3px;
	width:200px;
}

#coauthors-list .ui-sortable-helper .coauthor-tag {
	cursor: cursor:grabbing;
	cursor:-moz-grabbing;
	cursor:-webkit-grabbing;
}

#side-sortables .coauthor-gravatar,
#normal-sortables .coauthor-gravatar {
	float: right;
	height: 28px;
	width: 28px;
	margin-right: 3px;
	margin-top: -5px;
}

#side-sortables .coauthor-gravatar {
	height: 20px;
	width: 20px;
	margin-right: 2px;
	margin-top: -2px
}

#side-sortables .coauthor-suggest,
#normal-sortables .coauthor-suggest {
	margin: 5px 0;
	color: #888;
	width: 200px;
	float: left;
}

#side-sortables .coauthor-suggest {
	width: 190px;
}

#coauthors-list .coauthor-suggest:focus {
	color: #333;
}

#coauthors-list .coauthors-author-options {
	overflow: hidden;
	padding: 7px 0 0 7px;
}

#coauthors-list .delete-coauthor {
	display: block;
	float: left;
	padding: 5px;
	text-decoration: underline;
	color: #FF0000;
	font-size: 11px;
	border: 1px solid transparent;
}

#coauthors-list .delete-coauthor:hover {
	cursor: pointer;
	background: #FF0000;
	color: #fff;
	border: 1px solid #FF0000;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

#coauthors-loading {
	margin: 10px 0px 5px 10px;
}

#coauthors-readonly ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

#coauthors-readonly ul li .avatar {
	float: left;
}

#coauthors-readonly ul li .coauthor-tag {
	display:block;
	padding: 5px 3px;
	margin-left: 30px;
	font-size: 13px;
}