.single-network {
	float: left;
	border: 1px solid #bcb;
	margin-right: 15px;
	margin-bottom: 15px;
	padding: 15px;
	min-width: 300px;
}

.single-network-counts {
	font-size: 1.8rem;
	margin: 10px 0 15px 0;
	line-height: 2.1rem;
}

.single-network-user-count,
.single-network-site-count {
	font-weight: 300;
	font-family: "Open Sans";
	float: left;
	width: 50%;
	text-align: center;
}