#dashboard_wsuwp_memcached h4,
#dashboard_wsuwp_counts h4 {
	width: 100%;
	text-align: center;
	padding-bottom: 0;
	font-size: 20px;
	color: #2f5055;
}

.wsuwp-platform-counts {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	margin-top: 0;
	max-width: 500px;
}

.wsuwp-count-above {
	margin-bottom: 40px;
}

.wsuwp-platform-counts li {
	display: inline-block;
	width: 49%;
	height: 80px;
	text-align: center;
	font-size: 52px;
	line-height: 80px;
	color: #00a5bd;
}

.wsuwp-platform-counts li a {
	color: #00A5BD;
}

.wsuwp-platform-counts li a:hover {
	color: #0099D5;
}

.wsuwp-count-thirds li {
	width: 32.7%;
}

.wsuwp-platform-counts li:after {
	font-size: 15px;
	line-height: 15px;
	margin-top: -10px;
	display: block;
	color: #5e6a71;
}

#dash-global-networks:after {
	content: "Networks";
}

#dash-global-sites:after,
#dash-network-sites:after {
	content: "Sites";
}

#dash-global-users:after,
#dash-network-users:after {
	content: "Users";
}

#dash-memcached-read:after {
	content: "Received";
}

#dash-memcached-written:after {
	content: "Sent";
}

#dash-memcached-gets:after {
	content: "Total Gets";
}

#dash-memcached-getsperc:after {
	content: "Success";
}